@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
body {
  height: 100%;
  background-image: url('./img/1155715_8487.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.logo { 
  position:absolute;
  width: 140px;
  height: 60px;
  left: 40px;
  top: 10px;

}
nav {
  position: absolute;
  right: 40px;
  top: 35px;
  width: 319px;
  display: table;

  transform: translateY(-50%);
}
nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  color: #979494;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
 
  
}


nav a:hover {
  color: rgb(245, 8, 8);
}



hr.new {
  border-top: 1px solid rgb(202, 224, 224);
  
}
.bi-question-circle{
  color: #b9b3b3;
}
.bi-headset{
  color: #b9b3b3;
}
.bi-person-circle{
  color: #b9b3b3;
}

.container2{
  width: 500px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}

.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

img{
  width: 100%;
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}

.main-section {
  margin: 20px auto; 
  text-align: center; 
}
.feature-title{
  font-weight: bolder;
}
.feature-box {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 40%; 
  margin: 10px; 
  overflow: hidden;
  font-weight: bolder;
}

.feature-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.feature-box:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: #fff;
}

.feature-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.goto-button {
  display: inline-block;
  padding: 4px 15px;
  background: none;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff; 
  border-radius: 25px; 
}

.symbol {
  margin-left: 5px;
  font-size: 1.2em;
}

section {
  width: 100%;
  display: inline-block;
  background: rgb(233, 20, 20);
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: rgb(245, 38, 38);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	
	color: #0c0c0c;
	font-size: 25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #f6f7f5;
	border-radius: 2px;

	font-size: 20px;
	color: #4b0fd8;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}